
.vistaHome {
    box-sizing: border-box;
    height: 200vh;
    width: 100vw;
    color: white;
    background-color: $pal-main;
    padding: 5em;
}

.contentMovies {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 1em;
    
    overflow: scroll;
    outline: none;

}

.headerMovies {
    @extend .contentMovies;
    overflow: unset;
}

.movieCard {
    height: 26em;
    padding: 0.2em;
}

.pickMovie {
    display: flex;
    box-sizing: border-box;
    transform: translateX(20em);
    transform: translateY(-10em);
    transition: 0.5s ease;
    padding: 1em;
    // transform: translateY(-30em);
    z-index: 99;
    position: fixed;
    
    background-color: $pal-main;
    opacity: 1;
    height: fit-content;
    width: 50em;
    border: solid 0.5em $pal-sec;
    // float: left;
}
 


.contentSearchBar {
    padding: 1.5em;
    height: 15em;
}

.searchMovie {
    padding-top: 1em;
    padding-left: 0.5em;
    padding-bottom: 0.1em;
    outline: none;
    border: none;
    height: 2em;
    width: 12em;
    background-color: transparent;
    border-bottom: solid 0.1em $pal-det;
    color: white;
    font-size: large;
}
.searchMovie::placeholder{
    color: white;
    opacity: 0.8;
}

.movieData {
    height: 6em;
    padding: 0.5em;
}

.findMovieButton {
    box-sizing: border-box;
    height: 3.5em;
    width: 4.5em;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: $pal-text;
    transition: 0.2s ease-in-out;
    font-size: smaller;
    border-radius: 20% 100% 100% 20%;

    color: white;
}

.findMovieButton:hover {
    transition: 0.2s ease;
    background-color: $pal-det;
    width: 6em;
    border-radius: 10% 50% 50% 10%;
}

.genreSelector {
    outline: none;
    border: none;
    height: 2em;
    width: 10em;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rentBox {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 10em;
    background-color: black;
    border-radius: 0.5em;
    padding-top: 2em;
}
.rentButton {
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    &:hover{
        background-color: $pal-det;
        cursor: pointer;

    }
}
