
.viewOrders {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 5em;
    height: fit-content;
    width: 100vw;
    background-color: $pal-main;
    color: white
}

// .contentCalendar {
//     @extend .center;
// }

// .drawCalendar {
//     background-color: $pal-main;
//     height: fit-content;
//     width: fit-content;
// }

// .dayBox1 {
//     height: 10em;
//     width: 10em;
//     border: solid 0.1em $pal-det;
// }

.contentOrders {
    box-sizing: border-box;
    padding: 0em;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6, 0.1fr);
    grid-template-rows: repeat(7, 0.2fr);
}