.header {
    box-sizing: border-box;
    height:  3em;
    background-color: $pal-main;
    color: $pal-text;
    width: 100%;
    min-width: 31.25em;
    padding: 0.5em;

    /* background-color: rgb(142, 165, 209); */
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 0.1em $pal-det;
}

.headerLogo:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.headerLinks {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.headerUser{
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;

}

.linkLogout {
    padding: 0.5em;
    transition: 0.2s;
}

.linkLogout:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 0.2s;
}